fastapi==0.133.0
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
httpx==0.28.1
pydantic==2.12.5
pydantic_core==2.41.5
pydantic_settings==2.13.1
python-dotenv==1.2.1
python-multipart==0.0.22
pytest==9.0.2
requests==2.32.5
uvicorn==0.41.0

alembic==1.18.4
asyncpg==0.31.0
psycopg==3.3.3
psycopg-binary==3.3.3
sqlalchemy==2.0.48
