SECRET_KEY=<your secret key. Any string.>
DEBUG=<Is debug mode or prod? True or False>

ENGINE=<DB engine>
NAME=<DB name>
USER=<DB user>
PASSWORD=<DB password>
HOST=<DB localhost>
PORT=<DB port>

REDIS_URL = <REDIS URL>