MIDDLEWARE_SECRET_KEY=секретный ключ для SessionMiddleware (любая строка)
SERVER_IP=IP вашего сервера (127.0.0.1)
SERVER_PORT=порт вашего сервера (8000)
DB_HOST=IP СУБД (localhost)
DB_PORT=Порт СУБД (5432)
DB_USER=Пользователь СУБД (postgres)
DB_PASS=Пароль СУБД (password)
DB_NAME=Имя СУБД (postgres)